@model Position


<div class="container">
    <h3 class="fw-bold m-3">@Model.Name Employees</h3>
    <h4 class="fw-normal mx-5 my-3">Employees Count: @Model.Employees.Count</h4>
</div>
<div class="card-group w-25">
    @foreach (Employee employee in Model.Employees)
    {
        <div class="card m-1 bg-primary text-white rounded-3">
            <img src="~/img//@employee.ImgUrl"
                 alt="@employee.Name" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-white">Name: @employee.Name @employee.Surname</h5>
                <p class="card-text">Position: @employee.Position.Name</p>
                <p class="card-text">Instagram Link: @employee.InstLink @employee.FaceLink @employee.LinkedLink</p>
                <p class="card-text">FaceBook Link: @employee.FaceLink @employee.LinkedLink</p>
                <p class="card-text">Linked-In Link: @employee.LinkedLink</p>
                <p class="card-text">Twitter Link: @employee.TwitLink</p>
            </div>
        </div>
    }
</div>
<a class="btn btn-light fw-bold fs-4" asp-action="Index" asp-controller="Position">Back</a>
