@model Blog
<div class="container">
    <div class="card mb-3" style="max-width: 99%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img//@Model.ImgUrl" class="img-fluid rounded-start w-75" alt="@Model.Title">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title: @Model.Title</h5>
                    <p class="card-text">Author: @Model.Author.Name @Model.Author.Surname</p>
                    <p class="card-text">Description: @Model.Description</p>
                    <p class="card-text">Comments Count: @Model.CommentCount</p>
                    <p class="card-text">Data: @Model.DateTime.ToString("dd MMMM, yyyy")</p>
                    <p class="card-text">
                        Tags: @foreach (BlogTag productTag in Model.Tags)
                        {
                            @productTag.Tag.Name

                            @(productTag != Model.Tags[Model.Tags.Count - 1] ? ", " : "")
                        }
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-light fw-bold fs-4" asp-action="Index" asp-controller="Blog">Back</a>